{% extends "base_front_asma.html.twig" %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>Create new Comment</h1>

    {# Display Flash Messages #}
    {% for flash_message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('app_comment_index') }}" class="btn btn-primary">Back to list</a>
    
{% endblock %}
