{% extends 'base_front_rsv.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Book an Event</h1>

    {% for flashError in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashError }}
        </div>
    {% endfor %}

    {{ include('participation/_form.html.twig') }}

    <a href="{{ path('app_participation_index') }}">back to list</a>
{% endblock %}
