{% extends 'base.html.twig' %}

{% block title %}Edit Categorieactivite{% endblock %}

{% block body %}
    <h1>Edit Categorieactivite</h1>

    {{ include('categorieactivite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorieactivite_index') }}">back to list</a>

    {{ include('categorieactivite/_delete_form.html.twig') }}
{% endblock %}
