{% extends 'base.html.twig' %}

{% block title %}New Categorieactivite{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Create New Categorieactivite</h1>
        {{ include('categorieactivite/_form.html.twig') }}
    </div>
    <div class="row">
        <div class="col-md-6 text-right">
            <a href="{{ path('app_categorieactivite_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
        </div>
    </div>
{% endblock %}
