{% extends 'base.html.twig' %}

{% block title %}New Categorieactivite{% endblock %}

{% block body %}
    <h1>Create new Categorieactivite</h1>

    {{ include('categorieactivite/_form.html.twig') }}

    <a href="{{ path('app_categorieactivite_index') }}">back to list</a>
{% endblock %}
