{% extends 'base.html.twig' %}

{% block title %}New ReservationOffer{% endblock %}

{% block body %}
    <h1>Create new ReservationOffer</h1>

    {{ include('reservation_offer/_form.html.twig') }}

    <a href="{{ path('app_reservation_offer_index') }}">back to list</a>
{% endblock %}
