{% extends "base_back_asma.html.twig" %}

{% block title %}
    New Post
{% endblock %}

{% block body %}
    <h1>Create New Post</h1>

    {{ include('post/_form.html.twig') }}

    <p>
        <a href="{{ path('app_post_index') }}">Back to List</a>
    </p>
{% endblock %}
